.customScrollBar::-webkit-scrollbar {
    width: 10px;
}

.customScrollBar::-webkit-scrollbar-thumb {
    background: #ffa4a4;
    background: rgba(255, 164, 164, .5);
    border-radius: 5px;
}

.customScrollBar::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;

}